.content {
  margin-left: 275px;
  background: $main-bg-color;
  height: 100vh;
  .view-top-bar {
    margin: 0;
    border-bottom: 1px solid #d2dae3;
    background: $main-white-color;
    padding: 0 15px;
    height: 55px;
    span {
      float: left;
      margin: 0;
      line-height: 55px;
      letter-spacing: -1px;
      color: $main-light-dark-color;
      font-size: 28px;
      font-weight: 600;
    }
    .view-action-buttons {
      float: right;
      button {
        margin: 10px 0 10px 15px;
        border: 1px solid $main-green-color;
        background-color: transparent;
        color: $main-green-color;
        font-size: 14px;
        padding: 7px;
        border-radius: 5px;
      }
      a {
        margin: 10px 0 10px 15px;
        border: 1px solid $main-green-color;
        background-color: transparent;
        color: $main-green-color;
        font-size: 14px;
        padding: 7px;
        border-radius: 5px;
        display: inline-block;
      }
    }
  }
  .detail {
    padding: 10px;
    .notification {
      padding: 10px;
      background: #ffffe4;
      span {
        color: rgba(83, 83, 75, 0.7);
        a {
          color: #428bca;
          text-decoration: none;
        }
        & :hover {
          color: #2a6496;
          text-decoration: underline;
        }
      }
    }
    .bill-notification {
      padding: 10px;
      margin-top: 20px;
      background: #ffffe4;
      span {
        color: rgba(83, 83, 75, 0.7);
        a {
          color: #428bca;
          text-decoration: none;
        }
        & :hover {
          color: #2a6496;
          text-decoration: underline;
        }
      }
    }
    .tabs-container {
      margin-top: 10px;
      a {
        background-color: transparent;
        color: $main-light-dark-color;
        font-weight: 600;
        margin-right: 20px;
        font-size: 18px;
      }
    }
    .invoice-form {
      margin-top: 35px;
      background: white;
      border-radius: 4px;
      .isRequired {
        color: red;
      }
    }
    .panel-heading {
      border-radius: 3px;
      background-color: #e9f3ff;
      padding: 10px 15px;
      color: #2e4359;
      border: none;
      .panel-title {
        font-size: 24px;
      }
    }
  }
  .details {
    padding: 30px;
    margin: 20px 20px;
    background: white;
    .pregnancy-name{
      width:350px; /* or whatever width you want. */
      max-width:350px; /* or whatever width you want. */
      display: inline-block;
      .pregnancy-name-title{
        font-size: 20px;
      }
      .pregnancy-name-details{
        font-size: 30px;
        margin-left: 30px;
        display: inline-block;
      }
    }
    .pregnancy-button-details{
      margin-top: 50px;
      margin-left: 20px;
      margin-bottom: 30px;
      .button-details{
        margin-top: 15px;
        .pregnancies-button{
          width: 250px;
        }
      }
    }
    .prepregnancies-table{
      padding: 30px;
    }
    .prepregnancies-button{
      margin-bottom: 5px;
      width: 140px;
    }
  }
  .confirm-details{
    padding: 30px;
    margin: 20px 20px;
    font-weight: 100;
    background: white;
    .title{
      .confirm-name{
        width: 250px;
        font-weight: 100;
        margin-bottom: 20px;
        .confirm-name-title{
          font-size: 20px;
        }
        .confirm-name-details{
          font-size: 30px;
          margin-left: 30px;
        }
      }
    }
    .text-details{
      font-size: 20px;
      margin-bottom: 200px;
    }
    .pregnancies-button{
      .pregnancies-gestational-button{
        width: 200px;
        height: 70px;
        white-space: normal;
      }
      .pregnancies-back-button{
        width: 150px;
        margin-left: 30px;
        margin-top: 32px;
      }
    }
  }
  .question-table-details{
    padding: 30px;
    margin: 20px 20px;
    background: white;
    .title{
      font-weight: 100;
      .question-name{
        width: 250px;
        margin-left: 20px;
        font-weight: 100;
        .question-name-title{
          font-size: 20px;
        }
        .question-name-details{
          font-size: 30px;
          margin-left: 30px;
        }
      }
    }
    .question-table-buttons{
      margin-top: 40px;
      .question-table-button{
        margin-right: 30px;
        margin-bottom: 20px;
      }
    }
  }
  .questionsSencond-details{
    padding: 30px;
    margin: 10px 20px;
    background: white;
    .title{
      font-weight: 100;
      margin-bottom: 20px;
      .name-title{
        width: 250px;
        margin-left: 20px;
        font-weight: 100;
        font-size: 20px;
      }
      .name-details{
          font-size: 30px;
          margin-left: 30px;
      }
    }
    .twelve-title{
      margin-top: 10px;
    }
    .question-title-supper{
      font-size: 18px;
      font-weight: 600;
    }
    .gestational-diabetes-button{
      margin-left: 30px;
    }
    .question-title{
      font-weight: 100;
    }
    .question-details{
      margin-left: 20px;
    }
    .checkbox span {
    margin-left: 10px;
    }
    .bottom-buttons{
      text-align: right;
    }
    .question-finish-button{
      margin-left: 20px;
      width:100px;
    }
    .next-button{
      width: 100px;
    }
    .column{
      padding: 0rem;
    }
    .checkbox input[type="checkbox"] {
    /* position: relative; */
    /* top: -1px; */
    width: 15px;
    height: 15px;
    }
  }

  .questionsFirst-details{
    padding: 30px;
    margin: 10px 20px;
    background: white;
    .title{
      font-weight: 100;
      margin-bottom: 20px;
      .name-title{
        width: 250px;
        margin-left: 20px;
        font-weight: 100;
        font-size: 20px;
      }
      .name-details{
          font-size: 30px;
          margin-left: 30px;
      }
    }
    .gestational-diabetes-button{
      margin-left: 30px;
    }
    .question-title{
      font-size: 18px;
    }
    .question-details{
      margin-left: 20px;
    }
    .checkbox span {
    margin-left: 10px;
    }
    .bottom-buttons{
      text-align: right;
      margin-top: 5px;
    }
    .question-finish-button{
      margin-left: 20px;
    }
    .checkbox input[type="checkbox"] {
    /* position: relative; */
    /* top: -1px; */
    width: 15px;
    height: 15px;
    }
    .text-input{
      width: 60px;
      outline: none;
      border: none;
      border-bottom: 1px solid;
      padding-left: 5px;
      font-size: 18px;
      color: rgb(74, 74, 74);
    }
  }

  .questionsThird-details{
    padding: 30px;
    margin: 10px 20px;
    background: white;
    .title{
      font-weight: 100;
      margin-bottom: 50px;
      .name-title{
        width: 250px;
        margin-left: 20px;
        font-weight: 100;
        font-size: 20px;
      }
      .name-details{
          font-size: 30px;
          margin-left: 30px;
      }
    }
    .gestational-diabetes-button{
      margin-left: 30px;
    }
    .questions-sixteen{
      .question-title{
        font-size: 20px;
      }
      .question-subtitle{
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
      }
      .table-title{
        .line{
          font-size: 18px;
          border: 1px solid;
          margin-top: auto;
        }
      }
    }
    .question-details{
      margin-left: 20px;
    }
    .checkbox span {
    margin-left: 10px;
    }
    .bottom-buttons{
      text-align: right;
      margin-top: 5px;
    }
    .question-finish-button{
      margin-left: 20px;
      width: 100px;
    }
    .question-back-button{
      width: 100px;
    }
    .checkbox input[type="checkbox"] {
    /* position: relative; */
    /* top: -1px; */
    width: 15px;
    height: 15px;
    }
    .table.is-bordered {
      text-align: center;
      .checkbox-area{
        text-align: left !important;
      }
    }
    .text-input{
      width: 60px;
      outline: none;
      border: none;
      padding-left: 5px;
      font-size: 16px;
      color: rgb(74, 74, 74);
    }
  }
}