.create-content {
  margin-left: 275px;
  background: $main-bg-color;
  height: 100vh;
  .create-top-bar {
    margin: 0 auto;
    border-bottom: 1px solid #d2dae3;
    background: $main-white-color;
    padding: 0 15px;
    height: 55px;
    span {
      float: left;
      margin: 0;
      line-height: 55px;
      letter-spacing: -1px;
      color: $main-light-dark-color;
      font-size: 28px;
      font-weight: 600;
    }
    .view-action-buttons {
      float: right;
      button {
        margin: 10px 0 10px 15px;
        border: 1px solid $main-green-color;
        background-color: transparent;
        color: $main-green-color;
        font-size: 14px;
        padding: 7px;
        border-radius: 5px;
      }
      a {
        margin: 10px 0 10px 15px;
        border: 1px solid $main-green-color;
        background-color: transparent;
        color: $main-green-color;
        font-size: 14px;
        padding: 7px;
        border-radius: 5px;
        display: inline-block;
      }
    }
  }
  .create-container {
    background: $main-bg-color;
    .form {
      margin: 20px 20px;
      background: white;
      .visit-header {
        margin: 10px;
        background: $main-light-blue-color;
        span {
          font-size: 24px;
          color: #2e4359;
        }
      }
      .isRequired {
        color: red;
      }
      .cancel {
        margin-right: 5px;
      }
      .header {
        color: $main-light-dark-color;
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      p {
        font-size: 18px;
      }
      .radio {
        span {
          margin-left: 5px;
        }
      }
      .search {
        margin-top: 25px;
      }
      .form-header {
        padding: 10px;
        background: #428bca;
        span {
          color: $main-white-color;
          font-size: 24px;
          font-weight: bold;
        }
      }
      table {
        width: 100%;
      }
      .calendar-height {
        height: 500px;
      }
      .card-info {
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $main-light-gray-color;
        border-radius: 5px;
        margin-right: 10px;
      }
      .title {
        font-size: 16px;
        font-weight: 400;
      }
      .full-name {
        font-size: 22px;
        font-weight: 600;
      }
      .add-button {
        color: #428bca;
        text-decoration: none;
        cursor: pointer;
        background: transparent;
        font-size: 16px;
        border: none;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      .border-bottom {
        border-bottom: 2px solid #eff2f5;
      }
      .tabs {
        a {
          color: #6784a2;
        }
        .selected {
          color: #2f4358;
          font-weight: 600;
        }
      }
      .tab-content {
        .history-pane {
          padding: 10px;
          background: #DEE2E7;
          a {
            color: #32425A;
            background: transparent;
            & :hover {
              border: none;
            }
          }
        }
      }
      .checkbox {
        padding: 30px;
        span {
          padding: 10px;
        }
      }
    }
    .form-table {
      margin: 20px 20px;
      background: white;
      .table {
        width: 100%;
      }
    }
    .second-form {
      margin: 20px 20px;
      background: white;
      .isRequired {
        color: red;
      }
      .cancel {
        margin-right: 5px;
      }
    }
  }
}
