.custom-date-input {
  background: rgba(219, 235, 255, 0.2);
  border: 1px solid #dee2e7;
  display: block;
  padding: 6px;
  width: 100%;
  font-size: 16px;
  color: #555;
  background-color: $main-white-color;
  background-image: none;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  text-align: left;
}
.react-datepicker-wrapper {
  width: 100%;
  .react-datepicker__input-container {
    width: 100%;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: $main-white-color;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.input-group-title {
  color: $main-light-dark-color;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.align-right {
  float: right;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-t-60 {
  margin-top: 60px;
}

.column-button {
  margin-right: 5px;
}

.column-checkin-button {
  margin-right: 5px;
  width: 100px;
}

.align-left {
  display: flex;
  justify-content: flex-end;
}

.Modal-overlayLittle-0-1-2 {
  align-items: flex-start !important;
}

.Modal-overlay-0-1-1 {
  padding: 3.2rem !important;
}

.btn-group {
  button {
    margin-right: 5px;
  }
}

.autocomplete-wrapper{
  display: block !important;

  input {
    @extend .input;
    @extend .is-primary;
    width: 500px;
  }
}

.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}

.diagnosis-modal{
  .modal-content{
    position: relative;
    overflow: inherit !important;
  }
}