.sidebar {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 1px 0 0 #1e2c3a;
  background-color: #263648;
  width: 275px;
  color: $main-white-color;
  font-weight: 300;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #1e2c3a;
    background-color: $main-light-dark-color;
    width: 100%;
    height: 54px;
    cursor: pointer;
    span {
      transition: opacity 200ms ease;
      display: inline-block;
      padding: 10px 15px;
      height: 55px;
      font-size: 25px;
      color: $main-white-color;
    }
  }
  .scroll-container {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: calc(100% - 55px);
    overflow: auto;
    .item {
      transition: all 200ms ease;
      display: block;
      border-bottom: 1px solid #1e2c3a;
      background: $main-light-dark-color;
      padding: 0 15px;
      height: 48px;
      line-height: 48px;
      color: $main-white-color;
      font-size: 18px;
      display: flex;
      align-items: center;
      .sidebar-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      span {
        color: $main-white-color;
      }
      i {
        transition: all 200ms ease;
        float: left;
        margin-right: 10px;
        margin-top: 6px;
        width: 16px;
        line-height: 36px;
      }
    }
    & .selected {
      background: #546a83;
    }
    .category-sub-items {
      border-bottom: 1px solid #1e2c3a;
      background: #3a4d63;
    }
    .children {
      transition: all 200ms ease;
      display: block;
      border-bottom: 1px solid #1e2c3a;
      background: $main-light-dark-color;
      padding: 0 20px;
      height: 48px;
      line-height: 48px;
      color: $main-white-color;
      font-size: 16px;
      span {
        color: $main-white-color;
      }
      i {
        transition: all 200ms ease;
        float: left;
        margin: 6px;
        width: 16px;
        line-height: 36px;
      }
    }
    & .selected {
      background: #546a83;
    }
    .search-container {
      padding: 10px;
      width: 100%;
      display: flex;
      input {
        background: white;
        border: none;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #90A7BD;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #90A7BD;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
          color: #90A7BD;
      }
      button {
        width: 50px;
        background: #92a7bc;
        border: none;
        i {
          font-size: 20px;
          color: #D3DAE4;
        }
      }
    }
  }
}