// define global colors with variables

$main-white-color: #fff;
$main-bg-color: #eff2f5;
$main-light-dark-color: #2f4358;
$main-green-color: #00bd9c;
$main-light-yellow-color: #FFFFE4;
$main-light-blue-color: #EAF2FF;
$main-light-gray-color: #F4F6F8;
